.display-info-wrapper {
    height: 100vh;
}

.coldBg {
    background-image: url('../assets/images/cold-bg.jpg');
    height: 90vh;
    background-size: 100% 100%;
}

.warmBg {
    background-image: url('../assets/images/warm-bg.jpg');
    height: 90vh;
    background-size: 100% 100%;
}

.display-content {
    color: black;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.3);
    text-align: center;
    background:rgba(255, 255, 255, 0.3);;
    width: 50vw;
    border-radius: 15px 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 25%;

}

.capitalize {
    text-transform: capitalize;
}